.card {
    height: 50%;
    width: 20%;
    background-color: white;
    border-radius: 20px;
    margin: 2%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.name {
    font-size: 30px;
}

.description {
    font-size: 25px;
}

.weatherIcon {
    height: 40%;
}

.temperature {
    display: flex;
    justify-content: space-between;
    width: 80%;
    color: #1a4de4;
    font-weight: bold;
    font-size: 25px;
}

.delete{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 30px;
}

.xmark{
    cursor: pointer;
}

.xmark:hover {
	opacity: 0.6;
}
